<html lang="fr">

<head>
  <title>Télécharger un programme - Equipe NOGO</title>
  <link rel="icon" href="https://hpinformatique.github.io/MP4-files/LEGO_logo.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="static/css/main.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>

  <nav class="navbar navbar-expand-lg navbar-dark nav-bg"  class="nav">
    <a class="navbar-brand" href="index.html">
      <img src="..\static\img\logo.png" width="60" height="60" alt="">
    </a>

    <a class="navbar-brand" href="index.html">Equipe NOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="scratch.html">NOGOPROG</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="programmes.html">Programmes tous prêts<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="help.html">Aide</a>
        </li>
        
        
      </ul>
      <!-- A partir de la ça marche plus-->
      
      {% if not render['login']%}
        <ul class="nav marginer">
          <li class="nav-item "><a id="textcompte" href="signin.html" class="nav-link link-dark px-2 marginer">Se connecter</a></li>
          <li class="nav-item"><a id="textcompte" href="signup.html" class="nav-link link-dark px-2 marginer">Créer un compte</a></li>
        </ul>
      {% else%}
      <div class="nav-item dropdown  marginer2">
        <a id="textcompte" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img src={{render['img']}} alt="mdo" width="40" height="40" class="rounded-circle">   {{render['pseudo']}}</img>
        </a>
        <ul class="dropdown-menu   text-small">
          <li><a class="dropdown-item white-color" href="profil.html">{{render['pseudo']}}</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item white-color" href="newproject.html">truc 1</a></li>
          <li><a class="dropdown-item white-color" href="editprofil.html">truc 2</a></li>
          <li><a class="dropdown-item white-color" href="myproj.html">truc 3</a></li>
          <li><hr class="dropdown-divider white-color"></li>
          <li><a class="dropdown-item white-color" href="#" onclick="sign_out()">Sign out</a></li>
        </ul>
      </div>
      {%endif%}
    
    </div>
    </div>
  </nav>

<body>
  <br/>
  <h2 id="center">Programme du robot artiste</h2>
  <p>Bienvenue sur la page dédiée au robot artiste !!!</p>
  <p>Vous trouverez ci-dessous tous les éléments le concernant, notamment un bouton de téléchargement du projet ainsi qu'un descriptif détaillé. </p>
  <br>

  <fieldset id="ressources"><legend id="lressources">Ressources</legend>
    <p id="center"><button id="boutondownload" onclick='window.location.href = "https://drive.google.com/uc?export=download&id=1tcKUzjegWIEHFhYHKVxl1MPr7AoU88eI";'>Télécharger le dossier du programme</button></p>
    <form id="center" action="https://hpinformatique.github.io/MP4-files/Robot%20artiste.pdf" method="get" target="_blank">
      <button id="boutondownload" type="submit">Télécharger la fiche d'utilisation et de configuration</button></p>
    </form>
  </fieldset>
  <br>
  <br>
  



  <iframe id="ficherobot" src="https://hpinformatique.github.io/MP4-files/Robot%20artiste.pdf"></iframe>
  <br>




    <script src="static/js/connect.js"></script>
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
</body>

</html>